body {
    font-size: 17px;
    display: flex;
    font-family: "Merriweather", "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.header {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

.logo {
    width: auto;
    height: 46px;
}

@media only screen and (max-width: 767px) {
    #product-img-pc {
        display: none;
    }
    #product-img-mobile {
        display: inline;
    }
}

@media only screen and (min-width: 767px) {
    #product-img-pc {
        display: inline;
    }
    #product-img-mobile {
        display: none;
    }
}

.product-wrap {
    position: relative;
    align-content: center;
    text-align: center;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img {
    width: auto;
    height: 80%;
}

.product-img-mobile {
    width: 90%;
    height: auto;
}

.product-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    vertical-align: bottom;
}

.product-download {
    padding: 15px 30px;
    font-size: 17px;
    border: none;
    border-radius: 300px;
    background-color: rgb(247, 101, 103);
    color: white;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    text-decoration: none !important;
}

.product-download:hover {
    color: white;
    text-decoration: none !important;
}

.product-about {
    color: black;
    text-decoration: underline !important;
    float: down;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: 20px;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    text-align: center;
    float: right;
    /* Safari */
    top: 0;
    z-index: 10;
}

li.nav {
    margin: 0;
    padding: 0;
    border: 0;
    float: right;
}

li.nav:last-child {
    float: right;
}

li.nav:first-child {
    padding: 0;
    float: left;
}

li.nav a.menu {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav img:hover {
    background-color: rgb(0, 0, 0);
}

li.nav a:hover {
    background-color: rgb(0, 0, 0);
}

.active {
    background-color: rgb(239, 33, 67);
}