body {
  font-size: 17px;
  display: flex;
  font-family: "Merriweather", "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.header {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.logo {
  width: auto;
  height: 46px;
}

.product-wrap {
  position: relative;
  align-content: center;
  text-align: center;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img {
  position: absolute;
  top: 5%;
  width: auto;
  height: 95%;
}

.product-img-mobile {
  width: 90%;
  height: auto;
}

.product-description {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: bottom;
}

.product-download {
  padding: 15px 30px;
  font-size: 17px;
  border: none;
  border-radius: 300px;
  background-color: rgb(242, 62, 75);
  color: white;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  text-decoration: none !important;
}

.product-download:hover {
  color: white;
  text-decoration: none !important;
}

.product-about {
  color: white;
  text-decoration: underline !important;
  float: down;
  font-size: 15px;
  text-align: center;
  position: relative;
  top: 20px;
}

@media only screen and (max-width: 767px) {
  #mobile_user {
    display: inline;
  }
  #pc_user {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  #mobile_user {
    display: none;
  }
  #pc_user {
    display: inline;
  }
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0);
  position: fixed;
  text-align: center;
  float: right;
  /* Safari */
  top: 0;
  z-index: 10;
}

li.nav {
  margin: 0;
  padding: 0;
  border: 0;
  float: right;
}

li.nav:last-child {
  float: right;
}

li.nav:first-child {
  padding: 0;
  float: left;
}

li.nav a.menu {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.nav a.menu:hover {
  background-color: rgb(0, 0, 0);
}

li.nav button {
  margin: 2px;
  border: 0;
  font-size: 13px;
  position: relative;
  width: 100px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  border: rgb(255, 255, 255) solid 1px;
  color: rgb(255, 255, 255);
  padding: 10px;
  background-color: rgb(0, 0, 0);
}

li.nav button:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.active {
  background-color: rgb(239, 33, 67);
}

div.menuToggle {
  margin: 12px;
  border: 3px;
  position: relative;
  vertical-align: middle;
}

div.menuToggle span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

ul.subMenu {
  list-style-type: none;
  align-items: center;
  position: fixed;
  right: 0;
  margin: 0;
  padding: 0px;
  padding-top: 51px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  height: 100vh;
  z-index: 6;
}

li.subMenu {
  padding: 10px 0;
  color: white;
}

li.subMenu a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
}

li.subMenu button {
  margin-left: 30px;
  margin-right: 30px;
  border: 0;
  position: relative;
  width: 100px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  border: rgb(255, 255, 255) solid 1px;
  color: rgb(255, 255, 255);
  padding: 10px;
  background-color: rgb(0, 0, 0);
}
